#app:before
  background linear-gradient(-90deg, fuchsia 10%, rgb(186, 0, 241), mediumblue)
  height 5px
  content ''
  position fixed
  top 0
  width 100%
  z-index 10

body
  background-color #f8f8f8
  color #334

/* Alternate Homepage
------------------------------------------------*/
.home
  padding-top 2rem
  .hero
    .action-button
      svg
        margin-bottom -.3em


/* Navbar
------------------------------------------------*/
.navbar
  background-color white
  top 5px


/* Sidebar
------------------------------------------------*/
a.sidebar-link:hover
  background-color #f7f7f7

/* Code Blocks
------------------------------------------------*/
pre[class*="language-"]
  margin 0
  padding .75rem 1rem

div[class*="language-"]
  background-color #f0f0f2

div[class*="language-"] .highlight-lines .highlighted
  background-color #a2dcb47a

.content pre, .content pre[class*="language-"]
  line-height 1.4

.content pre code, .content pre[class*="language-"] code, .token.class-name, .token.delimiter.important
  color #444444
  font-weight normal

.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin
  color #0793d4

.token.property, .token.constant, .token.symbol
  color violet

.token.operator
  color #c200c2

.token.punctuation
  color #999

.token.boolean, .token.function
  color #006596

.token.number
  color #8559b2

.token.char, .token.attr-value, .token.regex, .token.variable
  color #8559b2

.token.string
  color #2b953c

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata
  color #999

/* Alerts
------------------------------------------------*/
.custom-block.tip {
  border-color: #fc07e3;
  background-color: rgba(186, 0, 241, .05);
}

/* TOCs
------------------------------------------------*/
.toc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}



@media screen and (max-width: 500px) {
  .toc {
    grid-template-columns: 1fr;
  }

  .toc p {
    margin: 0;
  }
}

.header-anchor.hlink {
  float: right;
}


/* HTML Elements
------------------------------------------------*/
figure {
  margin-bottom: 2.5rem;
  text-align: center;
}

figcaption {
  text-align: center;
  margin: 1rem 0;
  color: #666666;
  font-style: italic;
  font-size: smaller;
}